@model UltimateTicTacToe.Web.Models.Game

<h2>Ultimate Tic Tac Toe - Live Game</h2>

<script type="text/javascript" src="~/scripts/signalr-client-1.0.0-alpha2-final.js"></script>
<script type="text/javascript" src="~/js/game.js"></script>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Index", "Game",FormMethod.Post, new { id = "newModalForm" }))
                {               
                    <div class="form-group">
                        <label class="control-label" for="name">What do you call yourself?</label>
                        <input class="form-control" type="text" id="name" name="name" require/>
                        
                        <input type="hidden" id="playerName" value="@ViewBag.PlayerName" />
                        <input class="form-control" type="hidden" id="gameObject" name="gameObject" value="@ViewBag.Game" />
                    </div>                   
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Save Name</button>
                        <a href="~/" type="button" class="btn btn-default">Cancel</a>
                    </div>                
                }
            </div>
        </div>
    </div>
</div>


<div class="container hidden" id="inviteDiv">
    <div class="row">
        <div class="col-md-5">
            <label id="inviteCode"></label>
        </div>        
        <div class="col-md-7 text-right">
            <label id="gameCode"></label>
        </div>
    </div>
</div>

<div class="container">

<div class="gameboard">
<div class="area area-0-0">
    <div class="tile tile-0-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-2">
        <button type="button" class="tile-button"></button>
    </div>
</div>
<div class="area area-1-0">
    <div class="tile tile-0-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-2">
        <button type="button" class="tile-button"></button>
    </div>
</div>
<div class="area area-2-0">
    <div class="tile tile-0-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-2">
        <button type="button" class="tile-button"></button>
    </div>
</div>
<div class="area area-0-1">
    <div class="tile tile-0-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-2">
        <button type="button" class="tile-button"></button>
    </div>
</div>
<div class="area area-1-1">
    <div class="tile tile-0-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-2">
        <button type="button" class="tile-button"></button>
    </div>
</div>
<div class="area area-2-1">
    <div class="tile tile-0-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-2">
        <button type="button" class="tile-button"></button>
    </div>
</div>
<div class="area area-0-2">
    <div class="tile tile-0-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-2">
        <button type="button" class="tile-button"></button>
    </div>
</div>
<div class="area area-1-2">
    <div class="tile tile-0-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-2">
        <button type="button" class="tile-button"></button>
    </div>
</div>
<div class="area area-2-2">
    <div class="tile tile-0-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-0">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-1">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-0-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-1-2">
        <button type="button" class="tile-button"></button>
    </div>
    <div class="tile tile-2-2">
        <button type="button" class="tile-button"></button>
    </div>
</div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            @if(Model != null)
            {
                <label>Player One: Model.PlayerA.Name</label>
            }
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            @if(Model != null)
                {
                <label>Player Two: Model.PlayerB.Name</label>
                }
        </div>
    </div>
</div>

<ul id="moveHistory"></ul>