<h2>Ultimate Tic Tac Toe - Live Game</h2>

<script type="text/javascript" src="~/scripts/signalr-client-1.0.0-alpha2-final.js"></script>
<script type="text/javascript" src="~/js/game.js"></script>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Index", "Game", FormMethod.Post, new { id = "newModalForm" }))
                {               
                    <div class="form-group">
                        <label class="control-label" for="name">What do you call yourself?</label>
                        <input class="form-control" type="text" id="name" name="name" require/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save Name</button>
                        <a href="~/" type="button" class="btn btn-default">Cancel</a>
                    </div>                
                }
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="playerName" value="@ViewBag.PlayerName" />

<div class="container">
    <div class="gameboard">
        <div class="area area-0-0">
            <div class="tile tile-0-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-2">
                <button type="button" class="tile-button"></button>
            </div>
        </div>
        <div class="area area-1-0">
            <div class="tile tile-0-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-2">
                <button type="button" class="tile-button"></button>
            </div>
        </div>
        <div class="area area-2-0">
            <div class="tile tile-0-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-2">
                <button type="button" class="tile-button"></button>
            </div>
        </div>
        <div class="area area-0-1">
            <div class="tile tile-0-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-2">
                <button type="button" class="tile-button"></button>
            </div>
        </div>
        <div class="area area-1-1">
            <div class="tile tile-0-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-2">
                <button type="button" class="tile-button"></button>
            </div>
        </div>
        <div class="area area-2-1">
            <div class="tile tile-0-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-2">
                <button type="button" class="tile-button"></button>
            </div>
        </div>
        <div class="area area-0-2">
            <div class="tile tile-0-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-2">
                <button type="button" class="tile-button"></button>
            </div>
        </div>
        <div class="area area-1-2">
            <div class="tile tile-0-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-2">
                <button type="button" class="tile-button"></button>
            </div>
        </div>
        <div class="area area-2-2">
            <div class="tile tile-0-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-0">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-1">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-0-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-1-2">
                <button type="button" class="tile-button"></button>
            </div>
            <div class="tile tile-2-2">
                <button type="button" class="tile-button"></button>
            </div>
        </div>
    </div>
</div>


<ul id="moveHistory"></ul>