<div class="container">
    <h2>Welcome to Ultimate Tic Tac Toe!</h2>
    <p>This project was made to showcase the power of SignalR and Asp.Net. But also to play a fun game of Ultimate Tic Tac Toe with friends!</p>
    <p>If you don't know how to play check out <a href="https://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/">This Link</a></p>
    <p>Otherwise, if you're ready to get started, click one of the buttons below!</p>

    <div class="row">

        <div class="col-md-6">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Here will be a button if you want to create a game.
                    </div>
                    <div class="panel-body text-center"><button class="btn btn-primary">Create a Game</button></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        And here will be a text field to enter a code and join a game.
                    </div>
                    <div class="panel-body  text-center" >
                        <input type="text" style="background-color: rgba(0, 255, 0, 0.3);" />
                        <button class="btn btn-primary">Join a Game</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>